body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}

/* HERO */
.hero {
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),
    url('entrance.png') center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.cta-button {
    background:gold;
    padding:10px 25px;
    border-radius:30px;
    text-decoration:none;
    color:black;
}

/* SECTIONS */
.section {
    padding:60px 20px;
}

.dark {
    background:#111;
    color:white;
}

.section-title {
    text-align:center;
    margin-bottom:30px;
}

/* GALLERY */
.gallery {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

.gallery div {
    height:250px;
    background-size:cover;
}

/* FEATURES */
.features {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.card {
    background:white;
    padding:20px;
    border-radius:10px;
    width:150px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.event {
    background:black;
    color:white;
}

/* REVIEWS */
.reviews {
    display:flex;
    justify-content:center;
    gap:20px;
}

.review {
    background:white;
    padding:20px;
    border-radius:10px;
    width:250px;
    text-align:center;
}

.stars {
    color:gold;
}

/* WHATSAPP */
.whatsapp {
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px;
    border-radius:50%;
    text-decoration:none;
}
